*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
    font-family: "Saira";
    src: url("/assets/fonts/Saira-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Saira";
    src: url("/assets/fonts/Saira-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Saira', sans-serif;
    background-color:#f8fcff;
    color:#2b3e50;
}

img {
    max-width: 100%;
}

h1,
h2 {
    color:#2b3e50;
    font-weight:bold;
}

h3, h4 {
    color:#0062cc;
}

.btn {
    text-transform: uppercase;
    font-size: 12px;
}

header {
    background: #fff;
    box-shadow: 1px 1px 10px #0000001a;
    padding:10px 0;
}

.logo {
    color: #b1b1b1;
    font-size: 12px;
    text-align: right;
    line-height: 0;
}

footer {
    background-color:#f7f9fc;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding:30px 0;
}

.wrapper {
    background-color: #0062cc;
    padding: 15px 0px;
}

.wrapper.master {
    background-color: #ff6f7e;
}

.wrapper.master .navbar-dark .navbar-nav .nav-link {
    color:#ffdbdb;
}

.wrapper.admin {
    background-color: #2b3e50;
}


.wrapper .navbar {
    padding:0;
}

li.nav-item {
    padding-right:10px;
}

.pagination .active .page-link {
    background: #007bff;
    color: #fff;
}

.exemplo {
    padding: 15px;
    background: #fff;
    border: 1px solid #e2e2e2;
    margin-bottom:10px;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

ul#sortable li {
    display: inline-block;
    background-color: white;
    padding: 15px;
    margin-right: 10px;
    font-weight: bold;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 4px #bfbfbf;
}